<h5 class="light-blue lighten-1 z-depth-2">{{x18n x "Header"}}</h5>

<div class="row">
  <div class="col s12 l3">
    <div class="card darken-1">
      <div class="card-content">
        <span>{{x18n x "Nodes"}}:</span>
        <span class="card-title">{{lord.total}}</span>
        <span>/{{lord.total_global}}({{x18n x "Global"}})</span>
      </div>
    </div>
  </div>
  <div class="col s12 l3">
    <div class="card darken-1">
      <div class="card-content">
        <span>{{x18n x "Summary"}}:</span>
        {{{overview x lord.overview lord.downPercent}}}
      </div>
    </div>
  </div>
  <div class="col s12 l3">
    <div class="card darken-1">
      <div class="card-content">
        <span>{{x18n x "TotalRewards"}}:</span>
        <span>{{toFixed lord.paymentSummary.totalPaid 2}}({{x18n x "Paid"}})</span>
        <span class="card-title">/{{toFixed lord.paymentSummary.total 2}}</span>
      </div>
    </div>
  </div>
  <div class="col s12 l3">
    <div class="card darken-1">
      <div class="card-content">
        <span>{{x18n x "7dRewards"}}:</span>
        <span>{{toFixed lord.paymentSummary.7dPaid 2}}({{x18n x "Paid"}})</span>
        <span class="card-title">/{{toFixed lord.paymentSummary.7d 2}}</span>
      </div>
    </div>
  </div>
</div>
<h6>{{x18n x "7dDetails"}}：</h6>
<table class ="">
  <thead>
    <th>{{x18n x "Node"}}</th>
    <th>{{x18n x "Rewards"}}<br >
      {{x18n x "Paid"}}/{{x18n x "Total"}}
    </th>
    <th>{{x18n x "Excluded"}}<br >{{x18n x "Days"}}</th>
    <th>{{x18n x "Challenge"}}<br >
      {{x18n x "Pass"}}/{{x18n x "Total"}}
    </th>
    <th>{{x18n x "Challenge"}}<br >
      {{x18n x "Latest"}}/{{x18n x "Fast"}}/{{x18n x "Slow"}}/{{x18n x "Avg"}}*
    </th>
  </thead>
  <tbody>
    {{#each lord.securenodes}}
    <tr>
      <td><a class="btn-small {{node_overview status2}}" href="https://securenodes.na.zensystem.io/nodes/{{id}}/detail">{{name}}</a></td>
      <td><a href="https://securenodes.na.zensystem.io/nodes/{{id}}/pmts">{{toFixed paymentSummary.7dPaid 2}}/{{toFixed paymentSummary.7d 2}}</a></td>
      <td>{{paymentSummary.7dExclude}}</td>
      <td><a href="https://securenodes.na.zensystem.io/nodes/{{id}}/chals">{{challengeSummary.pass}}/{{challengeSummary.total}}</a></td>
      <td>{{challengeSummary.latest}}/{{challengeSummary.min}}/{{challengeSummary.max}}/{{toFixed challengeSummary.avg 0}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<p style="margin-left: 20px">
  *{{x18n x "Comment"}}
</p>
